@tailwind base;
@tailwind components;
@tailwind utilities;


/* my button css style ------------------------------- */

.my-btn {
  text-decoration: none;
  color: #FF4E25;
  font-size: 20px;
  border: 1px solid;
  padding: 6px 20px;
  transition: 0.4s;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  /* display: inline-block; */
  overflow: hidden;
}

.my-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background: #DD0000;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
  border-radius: 25px;
}

.my-btn:hover::after {
  width: 100%;
  opacity: 1;
}

.my-btn:hover {
  color: #fff;
  border: 1px solid #DD0000;

}

/* btn 2 css style ------------------------- */
.my-btn-white {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  /* border: 2px solid; */
  outline: 1px solid;
  padding: 6px 20px;
  transition: 0.4s;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  /* display: inline-block; */
  overflow: hidden;
}

.my-btn-white::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
  border-radius: 25px;
}

.my-btn-white:hover::after {
  width: 100%;
  opacity: 1;
}

.my-btn-white:hover {
  color: #DD0000;
  /* border: 2px solid #FFF; */
  outline: 1px solid #FFF;

}

/* my btn fil style --------------- */

.my-btn-fil {
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  border: 1px solid #DD0000;
  padding: 6px 20px;
  transition: 0.4s;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  /* display: inline-block; */
  overflow: hidden;
  background: #DD0000;
}

.my-btn-fil::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
  border-radius: 25px;
}

.my-btn-fil:hover::after {
  width: 100%;
  opacity: 1;
}

.my-btn-fil:hover {
  color: #DD0000;
  border: 1px solid #DD0000;

}

/* error page design ----------------- */
.err-bg {
  background: linear-gradient(#ad020294, #908f8f94), url('./assets/pic/err.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reg-bg {
  background: linear-gradient(120deg, #0000006e, #0000002e), url('./assets/pic/reg-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-bg {
  background: linear-gradient(120deg, #0000006e, #0000002e), url('./assets/pic/pages-bg.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .faq-bg {
  background: linear-gradient(120deg, #000000ac, #0000006c), url('./assets/pic/faqbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */
.blood-group-bg {
  background: linear-gradient(120deg, #000000ac, #0000006c), url('./assets/pic/blood-group.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.dash-menu li{
  width: 100%;
}
.dash-menu li a{
  width: 100%;
  padding: 10px 20px;
  display: inline-block;
}
.dash-menu li a.active {
  font-weight: 600;
  color: #DD0000;
  background: none;
  /* width: 100%; */
  background: #FEF2F2;
  border-radius: 10px 0 0 10px;
}